{% extends 'base.html' %}
{% load static %}

{% block title %}
    <h4>Ask question</h4>
{% endblock %}

{% block ask %}
  <form action="{% url 'ask_url' %}" method="post" class="form">
    {% csrf_token %}
    <div class="text-danger mb-1">Tags are required!</div>
    <div class="form-group mb-3">
      <label for="question">Question</label>
      <input type="text" name="title" id="title" maxlength="128" required>
      <div class="field-error failure"> {{form.errors.title}} </div>
    </div>
    <div class="form-group mb-2">
      <label for="description" maxlength="400">Description</label>
      <textarea class="description-form" maxlength="400" type="text" name="description" id="description"></textarea>
      <div class="field-error failure"> {{form.errors.description}} </div>
    </div>
    <div class="form-group mb-3">
      <label for="tags">Tags</label>
      <input type="text" name="tags" id="tags"  required>
      <div class="field-error failure"> {{form.errors.tags}} </div>
    </div>
    <button type="button" class="button-form mt-1">Ask</button>
  </form>
{% endblock %}