{% extends 'base.html' %}
{% load static %}

{% block title %}
    <h4>{{ data.title }}</h4>
{% endblock %}

{% block questions %}
<!-- <div clas="container d-flex flex-wrap justify-content-between"> -->
{% for i in data.page_obj %}
    <div class="question container ms-0 me-lg-3 mb-3 py-3">
        <div class="row px-2">
            <div class="col-2 align-content-center px-0">
                <img class="img-fluid" src="{% static '/image/ava1.png' %}" alt="avatar">
                <div class="btn like px-0">❤️</div>
                <span class="likes">25</span>
            </div>
            <div class="col-10">
                <h4 class="question-title"><a href="{% url 'question_url' i.question_id %}">{{i.title}}</a></h4>
                <div class="question-text mb-1">{{i.description}}</div>
                <span class="me-3 mb-0"><a href="{% url 'question_url' i.question_id %}">answer({{ i.answers.count }})</a></span>
                <span class="mb-0">Tags: </span>
                {% for tag in i.tags.all%}
                <span class="mx-2"><a href="{% url 'tag_url' tag.name %}">{{ tag.name }}</a></span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}  
{% endblock %}  

{% block pagination %}   
    {% include 'inc/paginator.html' %}
{% endblock %}