{% extends 'base.html' %}
{% load static %}

{% block user %}       
    <button type="button" class="button login ms-lg-2"><a href="{% url 'login_url' %}">Log In</a></button>
    <button type="button" class="button signup"><a href="{% url 'signup_url' %}">Sign Up</a></button>
{% endblock %}

{% block title %}
    <h4></h4>
{% endblock %}

{% block question %}
<div class="container question-card mb-4">
<div class="row">
    <div class="col-2 px-2">
        <img class="img-fluid self" src="{% static '/image/ava1.png' %}" alt="avatar">
        <button class="btn like ms-2 pe-0">❤️</button>
        <span class="likes">25</span>
    </div>
    <div class="col-10 px-3">
        <h4 class="question-title">{{data.quest.title}}</h4>
        <div class="question-text mb-1">{{data.quest.text}}</div>
        <span class="mb-0">Tags: </span>
        <span class="mx-2"><a href="#">life</a></span>
        <span><a href="#">psychology</a></span>
    </div>
</div>
</div>
<div class="container answers px-0">
    {% for i in data.answers %}
    <div class="row answer mx-auto mb-3">
        <div class="col-2 px-2 align-content-center">
            <img class="img-fluid" src="{% static '/image/ava2.png' %}" alt="avatar">
            <button class="btn like ms-2 pe-0">❤️</button>
            <span class="likes">3</span>
        </div>
        <div class="col-10 px-6">
            <div class="answer-text mb-2">{{ i.text }}</div>
            <input type="checkbox" id="myCheckbox">
            <label for="myCheckbox">Correct</label>
        </div>
    </div>
    {% endfor %}
    {% include 'inc/paginator.html' %}
    <form action="" class="form mx-auto">
        <div class="form-group mb-2">
            <label for="">Enter answer</label>
            <textarea type="text" name="" id="" maxlength="400" class="" required></textarea>
        </div>
        <button type="button" class="button-form signup">Send</button>
    </form>
</div> 
{% endblock %}