{% extends 'base.html' %}
{% load static %}


{% block title %}
    <h4>Settings: {{data.nickname}}</h4>
{% endblock %}

{% block settings %}
<form action="{% url 'edit_profile_url' %}" method="post" class="form signup">
    {% csrf_token %}
    <div class="form-group mb-2">
      <label type="email" for="email">Email</label>
      <input type="text" name="email" id="email" placeholder="{{data.login}}">
    </div>
    <div class="form-group mb-2">
      <label type="text" for="nickname">Username</label>
      <input type="text" name="nickname" id="nickname" placeholder="{{data.username}}">
    </div>
    <div class="form-group mb-4">
      <label for="ava">Upload avatar</label>
      <input type="file" name="ava" id="formAva">
    </div>
    <button type="button" class="button-form signup">Sign Up</button>
  </form>
{% endblock %}